<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Loja{% block title %}{%endblock%}</title>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Loja</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            {% for categoria in categorias %}
            <li class="nav-item">
              <a class="nav-link" href="/categoria/{{categoria.slug}}">{{categoria.nome}}</a>
            </li>
            {% endfor %}
          </ul>
          <form class="form-inline my-2 my-lg-0" action="/busca" method="post">
            <input class="form-control mr-sm-2" type="busca" placeholder="Busca" aria-label="Busca" name="busca">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Busca</button>
          </form>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="far fa-user"></i></a>
            </li>
            <li class="nav-item">
              {% if session.carrinho|length == 0 %}
              <a class="nav-link" href="#"><i class="fas fa-shopping-cart"></i></a>
              {% else %}
              <a class="nav-link" href="/carrinho"><i class="fas fa-cart-plus"></i></a>
              {% endif %}
            </li>
          </ul>
        </div>
      </nav>
      {% block content %}  {% endblock %}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Font Awesome -->
    <script defer src="/assets/fontawesome/js/fontawesome-all.js"></script>
  </body>
</html>
