{% extends "base.html" %}
{% block content %}
<h1>Resultado da busca para: <i>{{termo}}</i></h1>
<hr>
<div class="row">
  {% for id, produto in produtos %}
  <div class="col-sm-4">
    <div class="card" style="width: 18rem;">
      <a href="/produto/{{produto.id}}">
        <img class="card-img-top" src="/assets/img/produtos/{{produto.imagem}}" alt="{{produto.nome}}">
      </a>
      <div class="card-body">
        <a href="/produto/{{produto.id}}">
          <h5 class="card-title">{{produto.nome}}</h5>
        </a>
        {% if produto.descricao|length > 60 %}
        <p class="card-text">{{produto.descricao|slice(0, 59)}}...</p>
        {% else %}
        <p class="card-text">{{produto.descricao}}</p>
        {% endif %}
        <p class="card-text">R$ {{produto.preco|number_format(2, ',')}}</p>
        <button class="btn btn-primary" type="submit" form="adicionar-{{produto.id}}">Compre agora</button>
        <form id="adicionar-{{produto.id}}" action="/carrinho/adicionar" method="post">
          <input type="hidden" name="produto" value="{{produto.id}}">
        </form>
      </div>
    </div>
  </div>
  {% if (id != 0) and ((id % 2) == 0) %}
</div>
<br>
<div class="row">
  {% endif %}
  {% endfor %}
</div>
{% endblock %}
