{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1 class="display-4">Loja de eletrônicos</h1>
  <p class="lead">A sua loja especializada em produtos eletrônicos</p>
</div>
{% endblock %}
