{% extends "base.html" %}
{% block content %}
<h1>{{produto.nome}}</h1>
<div class="row">
  <div class="col">
    <img class="card-img-top" src="/assets/img/produtos/{{produto.imagem}}" alt="{{produto.nome}}">
  </div>
  <div class="col">
    <p class="card-text">{{produto.descricao}}</p>
    <p class="card-text">R$ {{produto.preco|number_format(2, ',')}}</p>
    <button class="btn btn-primary" type="submit" form="adicionar">Compre agora</button>
    <form id="adicionar" action="/carrinho/adicionar" method="post">
      <input type="hidden" name="produto" value="{{produto.id}}">
    </form>
  </div>
</div>
{% endblock %}
