{% extends "base.html" %}
{% block content %}
<h1>Seu carrinho</h1>
<hr>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Produto</th>
      <th>Preço unitário</th>
      <th>Quant.</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    {% set total = 0 %}
    {% for item in itens %}
    {% set subtotal = session.carrinho[item.id] * item.preco %}
    {% set total = total + subtotal %}
    <tr>
      <td><a href="/produto/{{item.id}}"><b>{{item.nome}}</b></a></td>
      <td>R$ {{item.preco|number_format(2, ',')}}</td>
      <td>{{session.carrinho[item.id]}}</td>
      <td>R$ {{subtotal|number_format(2, ',')}}</td>
    </tr>
    {% endfor %}
    <tr>
      <td colspan="2"></td>
      <td><b>Total</b></td>
      <td>R$ {{total|number_format(2, ',')}}</td>
    </tr>
  </tbody>
</table>
<div class="text-right"><a class="btn btn-primary" href="carrinho/fechar">Fechar carrinho</a></div>

{% endblock %}
